<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>Perbarui Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="saveData()" [disabled]="loading">
        {{loading ? 'Menyimmpan..':'Simpan'}}
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nama Lengkap</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Biografi</ion-label>
      <ion-textarea [(ngModel)]="user.bio"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Alamat</ion-label>
      <ion-textarea [(ngModel)]="user.address"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nomer Handphone</ion-label>
      <ion-input [(ngModel)]="user.phone"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
