
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Rekap
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Rekap Presensi</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
        <ion-col col-6 >
          <ion-label>
            <h3 style="margin-left: 10px; color: black;">Nama Siswa : Rama</h3>
            <p style="margin-left: 10px; color: black;" > Kelas : XII IPA 1</p>
      
          </ion-label>
          <ion-grid style="margin-top: 20px;">
            <ion-row class="tabel-rekap">
            
              <ion-col size="4">
                Mata Pelajaran
              </ion-col>
              <ion-col size="4">
               Tanggal
              </ion-col>
              <ion-col size="4">
              Keterangan
              </ion-col>
            
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="tabel-rekap">
          
          
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="tabel-rekap">
              
              <ion-col size="4">
                Biologi
              </ion-col>
              <ion-col size="4">
              19 Desember 2020
              </ion-col>
              <ion-col size="4">
                Hadir
              </ion-col>
              
            
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-card>



  </div>
</ion-content>
