.home-bg {
    margin-top: -25px;
    position: fixed;
}


.home {
    position: relative;
    font-family: "Poppins", sans-serif;
    display: flex;

}

.home-icon {
    background: transparent;
    margin-left: 140px;
    align-items: center;
}

ion-icon {
    font-size: 24px;
    color: whitesmoke;
}

.home-text {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: whitesmoke;
    align-items: center;
    font-weight: 600;
}

ion-card {
    width: 285px;
    margin-top: 13px;
    border-radius: 18px;
    margin-left: 41px;
}

b {
    font-family: 'Poppins';
    font-weight: 600px;
}

ion-card-content {
    font-size: small;
    text-align: left;
    margin-top: -15px;
    margin-left: -5px;
    margin-bottom: -10px;
}

.home-button {
    width: 300px;
    margin: auto;
    color: #E2EBFF;
    font-weight: 600;
    font-size: 16px;
}

ion-slides {
    height: 100%;
    margin-top: -20px;
}

.swiper-slide {
    display: block;
}

.swiper-slide img {
    pointer-events: none;
}